In [1]:
#Funtion, Method and Class in Python

In [33]:
class Myclass:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunction(self):
         print("Hello this is me " + self.name, "and my age is" , self.age, 'years') 
         # print("and my age is " + self.age, 'years')

p = Myclass("MRr__Umer", 24)
p.myfunction()

Hello this is me MRr__Umer and my age is 24 years

In [44]:
class MyClass:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def My_Class(self):
        print("My name is " + self.name)
        print("and my age is " +str(self.age))

p1 = MyClass("Umer", 24)
p1.age = 40
p1.My_Class()
p1.age

My name is Umer
and my age is 40

40

In [47]:
def my_function(*child):
    print("The youngest child is " + child[2])

my_function("Hilal", "Bilal", "Umer")

The youngest child is Umer

In [48]:
def myfunction(*boy):
    print("Hello this is me " +boy[1] )

myfunction("Hilal", "Bilal", "Umer")

Hello this is me Bilal

In [49]:
def myfunction(child1, child2, child3):
    print("The youngest child is " + child3)

myfunction(child1 = "Umer", child2 = "Bilal", child3 = "Hilal")

The youngest child is Hilal

In [52]:
def myfunction(**boy):
    print("His last name is " + boy["lname"], "and his first name is " + boy["fname"])

myfunction(fname = "Umer", lname = "Khan")

His last name is Khan and his first name is Umer

In [55]:
def my_function(contry = "Dubi"):
    print("I am from " + contry)

my_function("Pakistan")
my_function("India")
my_function()
my_function("Afghanistan")

I am from Pakistan
I am from India
I am from Dubi
I am from Afghanistan

In [59]:
def my_function(self):
    for x in self:
        print(x)
new_list = []
fruits = ["apple", "banana", "mango"]
new_list.append(fruits)
my_function(new_list)

['apple', 'banana', 'mango']

In [70]:
def my_function(x):
    return 5*x

# print(my_function(3))
# print(my_function(4))
# print(my_function(5))
my_function(3)
my_function(4)
# my_function(5)

20

In [72]:
def my_function(a,b,/,*,c,d):
    print(a+b+c+d)

my_function(5,6 , c=7, d=9)

27

In [85]:
def fact(n):
    if n==0:
        return 1
    else:
        return n *fact (n-1)

print(fact(5))

60

In [78]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(5))

120